/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/public/out
figwheel_server.log
resources/public/main.js
resources/public/main.js.map
resources/translations.txt
.idea
*.iml
sessionkey
scss/.sass-cache
.sass-cache
resources/public/css/main.css.map
.repl
lupadoku-config-local.edn
lupadoku.log
bin/
.DS_Store
.clj-kondo/
